variables:
  - name: dockerVersion
    value: '19.03.5'
  - group: dev-secrets

trigger:
- development
- master

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: version
  displayName: Work out Version
  condition: and(succeeded(), not(eq(variables['build.reason'], 'PullRequest')))
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - task: UseGitVersion@5
    displayName: gitversion
    inputs:
      versionSpec: '5.0.1'
  - script: echo "##vso[task.setvariable variable=semVer;isOutput=true]$(GitVersion.SemVer)"
    name: setVersionStep
  - script: echo semVer $(setVersionStep.semVer)
    name: echovar

- job: dockerBuildAndPush
  displayName: Build & push docker containers to the acr
  condition: and(succeeded(), not(eq(variables['build.reason'], 'PullRequest')))
  variables:
    semVer: $[ dependencies.version.outputs['setVersionStep.semVer'] ]
  dependsOn: version
  steps:
  - task: DockerInstaller@0
    inputs:
      dockerVersion: $(dockerVersion)
    displayName: 'Docker: Install - $(dockerVersion)'

  - task: DockerCompose@0
    displayName: 'Build: Dev'
    inputs:
      containerregistrytype: 'Azure Container Registry'
      azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
      azureContainerRegistry: '{"loginServer":"gpitfuturesdevacr.azurecr.io", "id" : "/subscriptions/7b12a8a2-f06f-456f-b6f9-aa2d92e0b2ec/resourceGroups/gpitfutures-dev-rg-acr/providers/Microsoft.ContainerRegistry/registries/gpitfuturesdevacr"}'
      dockerComposeFile: '**/docker-compose-file-uploader.yml'
      action: 'Build services'
      additionalImageTags: '$(semVer)'
      includeSourceTags: true

  - task: HelmInstaller@1
    displayName: 'Install helm'
    inputs:
      helmVersionToInstall: 'latest'
  - bash: |
      cd charts
      helm package \
          --version $(semVer) \
          --app-version $(semVer) \
          file-loader
    failOnStderr: true
    displayName: 'Helm package'
  - bash: |
      cd charts
      chartPackage=$(ls file-loader*.tgz)
      az acr helm push --force \
          -n "gpitfuturesdevacr" \
          -u "gpitfuturesdevacr" \
          -p $(gpitfuturesdevacr-pass) \
          $chartPackage   
    failOnStderr: false
    name: helmPush
    displayName: 'Push helm to az acr'

  - task: DockerCompose@0
    displayName: 'Docker Push: Dev'
    inputs:
      azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
      azureContainerRegistry: '{"loginServer":"gpitfuturesdevacr.azurecr.io", "id" : "/subscriptions/7b12a8a2-f06f-456f-b6f9-aa2d92e0b2ec/resourceGroups/gpitfutures-dev-rg-acr/providers/Microsoft.ContainerRegistry/registries/gpitfuturesdevacr"}'
      dockerComposeFile: '**/docker-compose-file-uploader.yml'
      action: 'Push services'
      additionalImageTags: '$(semVer)'
      includeSourceTags: true

  - task: DockerCompose@0
    displayName: 'Docker Build: Test'
    inputs:
      azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
      azureContainerRegistry: '{"loginServer":"gpitfuturestestacr.azurecr.io", "id" : "/subscriptions/7b12a8a2-f06f-456f-b6f9-aa2d92e0b2ec/resourceGroups/gpitfutures-test-rg-acr/providers/Microsoft.ContainerRegistry/registries/gpitfuturestestacr"}'
      dockerComposeFile: '**/docker-compose-file-uploader.yml'
      action: 'Build services'
      additionalImageTags: '$(semVer)'
      includeSourceTags: true

  - task: DockerCompose@0
    displayName: 'Docker Push: Test'
    inputs:
      azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
      azureContainerRegistry: '{"loginServer":"gpitfuturestestacr.azurecr.io", "id" : "/subscriptions/7b12a8a2-f06f-456f-b6f9-aa2d92e0b2ec/resourceGroups/gpitfutures-test-rg-acr/providers/Microsoft.ContainerRegistry/registries/gpitfuturestestacr"}'
      dockerComposeFile: '**/docker-compose-file-uploader.yml'
      action: 'Push services'
      additionalImageTags: '$(semVer)'
      includeSourceTags: true
